services:
  trivy:
    image: aquasec/trivy:0.67.2
    command:
      - server
      - --listen
      - :4005
      - --token
      - my-token
    volumes:
      - "trivy-cache:/root/.cache/trivy"
    restart: unless-stopped

  swagger:
    image: swaggerapi/swagger-ui
    environment:
      SWAGGER_JSON_URL: http://localhost:9010/api/openapi.json
    ports:
      - '9002:8080'

  dtrack-apiserver:
    image: docker.io/dependencytrack/bundled:4.13.6-alpine
    deploy:
      resources:
        limits:
          memory: 12288m
        reservations:
          memory: 8192m
      restart_policy:
        condition: on-failure
    ports:
      - '9010:8080'
    environment:
      - LOGGING_LEVEL=INFO
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8080 || exit 1
      interval: 10s
      retries: 5
      start_period: 20s
      timeout: 10s
    volumes:
      # Optional volume mount to override default notification publisher templates
      # - "/host/path/to/template/base/dir:/data/templates"
      - 'dependency-track:/data'
    restart: unless-stopped

  dtrack-frontend:
    image: dependencytrack/frontend:4.13.6
    depends_on:
      - dtrack-apiserver
    environment:
      - API_BASE_URL=http://localhost:9010
    ports:
      - "9020:8080"
    restart: unless-stopped

  bootstrap:
    platform: linux/amd64
    image: europe-north1-docker.pkg.dev/nais-io/nais/images/dependencytrack-bootstrap:latest
    environment:
      - BASE_URL=http://dtrack-apiserver:8080/
      - DEFAULT_ADMIN_PASSWORD=admin
      - ADMIN_PASSWORD=yolo
      - TRIVY_API_TOKEN=my-token
      - USERS_FILE=users.yaml
      - TRIVY_BASE_URL=http://trivy:4005
    depends_on:
      dtrack-apiserver:
        condition: service_healthy
    volumes:
      - ./local/users.yaml:/app/users.yaml

volumes:
  dependency-track:
  trivy-cache: { }