name: Build and deploy Bootstrap
on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "LICENSE.md"
env:
  NAME: dependencytrack
  FEATURE_REPOSITORY: oci://europe-north1-docker.pkg.dev/nais-io/nais/feature

jobs:
  go_version:
    outputs:
      go_version: ${{ steps.go_version.outputs.GO_VERSION }}
    permissions:
      contents: read
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4
      - name: Find Go version
        id: go_version
        run: |
          echo "GO_VERSION=$(grep golang .tool-versions | awk '{print $2}')" >> $GITHUB_OUTPUT

  tests:
    needs:
      - go_version
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # ratchet:actions/setup-go@v5
        with:
          go-version: ${{ needs.go_version.outputs.go_version }}
          cache-dependency-path: ./go.sum

      - name: Run unit tests
        run: make test

      - name: Check for code
        run: make check

      - name: run integration tests
        run: make integration_test

  bootstrap:
    outputs:
      version: ${{ steps.build-push-sign-bootstrap.outputs.version }}
    needs:
      - tests
    permissions:
      contents: "read"
      id-token: "write"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4
      - uses: nais/platform-build-push-sign@main # ratchet:exclude
        id: build-push-sign-bootstrap
        with:
          name: ${{ env.NAME }}-bootstrap
          google_service_account: gh-${{ env.NAME }}
          workload_identity_provider: ${{ secrets.NAIS_IO_WORKLOAD_IDENTITY_PROVIDER }}
          push: true

  helm:
    runs-on: ubuntu-latest
    needs:
      - bootstrap
    outputs:
      version: ${{ steps.chart-version.outputs.version }}
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4
      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # ratchet:azure/setup-helm@v4
        name: "Setup Helm"
        with:
          version: "v3.17.0"

      - name: Update values.yaml with yq
        run: |-
          yq -i '.bootstrap.image.tag = "${{ needs.bootstrap.outputs.version }}"' charts/values.yaml
      - name: Build Chart
        run: |-
          sed -i "s/^version: .*/version: ${{ needs.bootstrap.outputs.version }}/g" charts/Chart.yaml
          helm package charts
      - name: "Authenticate to Google Cloud"
        id: "auth"

        uses: "google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093" # ratchet:google-github-actions/auth@v3
        with:
          workload_identity_provider: "${{ secrets.NAIS_IO_WORKLOAD_IDENTITY_PROVIDER }}"
          service_account: "gh-${{ env.NAME }}@nais-io.iam.gserviceaccount.com"
          token_format: "access_token"
      - name: "Login to registry"
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # ratchet:docker/login-action@v3
        with:
          registry: "europe-north1-docker.pkg.dev"
          username: "oauth2accesstoken"
          password: "${{ steps.auth.outputs.access_token }}"
      - name: Push Chart
        run: |-
          helm push ${{ env.NAME }}*.tgz ${{ env.FEATURE_REPOSITORY }}
      - name: Output chart version
        id: chart-version

        run: echo version=${{ needs.bootstrap.outputs.version }} >> $GITHUB_OUTPUT
  rollout:
    needs:

      - helm
    runs-on: fasit-deploy
    permissions:
      id-token: write
    steps:
      - uses: nais/fasit-deploy@v3 # ratchet:exclude
        with:
          chart: ${{ env.FEATURE_REPOSITORY }}/${{ env.NAME }}
          version: ${{ needs.helm.outputs.version }}
          target: '{"kind": "management"}'
