name: PR Check

on:
  pull_request:
    paths-ignore:
      - '*.md'
      - 'LICENSE.md'

permissions:
  contents: read

jobs:
  test-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # ratchet:actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache-dependency-path: "**/*.sum"

      - name: Run tests
        run: make test

      - name: Check for static code and security issues
        run: make check

      - name: Run integration tests
        run: make integration_test
